@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Source+Sans+Pro:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');



.product-ul{
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%!important;
}
.product h2{
  color: #191425;
  font-size: 25px;
}
li{
display: inline-block;
padding: 10px;
margin: 10px;
border-radius: 10px;
font-size: 0.875rem;
}
h1,h2,h3,h4,h5,h6{
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
p,a{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}
a, .price{
color: #dc143c!important;
}
.bill{
background: #dc143c!important;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bil:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
body{
background: #F0F7FC!important;
}

.grid-container {
  display: grid;
  grid-template-columns: 6% 71% 25%!important;
}
.grid-item {
}
.first{
  background: white!important;
  position: relative;
  border-radius: 20px 20px 20px 20px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 6% 66% 30%!important;
}
.grid-item2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item-recipient{
  position: fixed!important;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: white;
  right: 10px;
  bottom: 10px!important;
  top: 10px;

  max-width: 100%;
  min-width: 22%;
  height: 100vh;
}
.cash{
  border: 1px solid #dc143c;
  background: transparent;
  color: #2b2b2b;

}
.first{
background: white;
height: 100vh!important;
}
.main-product-menus{
  text-align: center;
  background: white;

}
.product-list{
  position: relative!important;
  background-color: white;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 10px;
}
.product-list h1{
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
.product-list .price{

  text-align: center;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
}
.product-list img{
display: block;
text-align: center;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
pointer-events: none;
}
.price{
  color: #dc143c;
  font-size: 20px;
  font-weight: 700;
  pointer-events: none;
  margin-top: 0px!important;
}
.heading, .date{
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}


.main-menus{
  max-width: 200px;
  font-size: 14px;
  font-weight: 400;
  margin: 0px!important;
  text-align: center;
}
.main-menus p, .main-menus a {
  display: block;
  text-align: center;
  font-size: 18px!important;
  font-weight: 400;
  color: #C3C3C3!important;
}
.main-menus img{
  max-width: 50px;
  

}
.menus-wrap{
  padding: 10px;
  margin:0px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.menus-wrap:hover{
  display: block;
  background-color: #DC143C;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sales-list{
  display: inline-block!important;
  width: 100%!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sales-ul{
  display: inline-block!important;
  min-width: 100%!important;
  
}

.main-product-menus{
  display: inline-block;
  max-width: 100px!important;
  width: 100px!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.main-product-menus *{
  display: block;
}
.main-product-menus img{
  display: inline-block;
  max-width: 60px!important;
  width: 60px!important;
}
.main-product-menus:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.menus-product-wrap{
  max-width: 200px;
}
.align-left{
  display: block;
  text-align: left;
}
.logo{
  width: 100px!important;
  margin-top: 10px;
  border-radius: 5px;
  max-width: 130px!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!important;
}

.product-list:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

body{
  overflow-x: hidden;
}


.main {
  padding: 10px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  color: rgba(70, 130, 236, 1);
}
.todoInputText {
  padding: 10px 7px;
  border-radius: 3px;
  margin-right: 2px;
  margin-left: 2px;
  width: 100%;
  font-size: large;
}
button {
  border-radius: 3px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
  font-size: large;
  background: transparent;
  border: 0px;
  width: 100%!important;
}
.bg-default {
  background-color: rgba(70, 130, 236, 1);
  border: 1px solid rgba(28, 28, 49, 1);
  color: white;
}
.bg-danger {
  background-color: red;
  border: 1px solid rgba(28, 28, 49, 1);
  color: white;
}
.todoInputButton {
  padding: 10px 10px;
  border-radius: 3px;
  background-color: rgba(70, 130, 236, 1);
  color: white;
  border: 1px solid rgba(28, 28, 49, 1);
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
  font-size: large;
}
.addTodoContainer {
  margin-top: 4px;
  margin-bottom: 17px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
.todoListContainer {
  margin-top: 9px;
  width: 500px;
}
.todoItem {
  padding: 10px 4px;
  color: rgba(70, 130, 236, 1);
  border-radius: 3px;
  border: 1px solid rgba(28, 28, 49, 1);
  margin-top: 9px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}
.todosText {
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
.bill{
  padding-top: 20px;
  padding-bottom: 20px;
  background: #dc143c;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  border: 0px;
  width: 100%;
}
.total{
  font-size: 30px;
  border: 0px solid white;
  background-color: transparent;
  color: #2B2B2B;
}
#myNumber{
  background: #F05756;
  color: #2b2b2b;
  font-weight: 700;
  font-size: 30px;
  border: 0px solid white!important;
  background-color: transparent;
  width: 100px;
}
.bill-inner{
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
  margin: 20px;
}
.bill-inner p{
font-size: 20px;
}
.card{
  pointer-events: none;
}
@page {
  width: 100px;
}
@media print
{    
  html, body {
    width: 210mm;
    height: 297mm;
  }
    .main-menu
    {
        display: none !important;
    }
    .product-ul, .bill, .main-product-menus, .main-menus, .dates, .middle-grid, .authx, .billid{
      display: none;
    }
    .grid-item-recipient{
      box-shadow: none!important;
    }
    .heading{
      display: none;
    }
    .nextjs-toast-errors-parent{
      display: none!important;
    }
    .cart-product img, .signoutbtn{
      display: none!important;
    }
}
.card-img-top{
  margin-left: 0px!important;
}

.product{
  border:none !important;
  padding: 0px;
  color: #1A1525!important;
  font-size: 30px;
  font-weigh: bold;
}
.product img{
  height: 150px;
  width: auto;
  margin-bottom: -50px;
  margin-left: 1rem;
  transition: 0.5s;
}
.product:hover img{
  transform: scale(1.05) rotate(-10deg);
}
.product .card-title{
  margin-top: 50px;
  margin-bottom: 10px!important;
}

.img-in-cart{
  height: 50px;
}
.overflow-scroll{
  overflow: scroll;
}
#putcart{
  color: black;
  margin: 20px!important;
}
#putcart .text-black-50{
  display: none;
}
#putcart .btn{
  display: none;
}
#putcart img{
  width: 50px;
  height: auto;
  display: inline-block;
}
#putcart .product{
  display: inline-block;
  width: 100%!important;
}
.cart-product *{
  display: inline-block;
}
.cart-product img{
  border-radius: 5px;
}
#putcart{
  overflow-y: auto;
  max-height: 70vh;
}
#putcart p{
  display: inline-block;
}
hr{
  opacity: 10%!important;
  margin: 0;
}
#comment{
  display: none;
}
.mt-3 .quanitys{
  position: relative;
  z-index: 99!important;
  color: #dc143c !important;
}
.mt-3{
  color: #dc143c !important;
}
.clear{
  color: #c3c3c3;
  margin-bottom: 20px;
  text-align: right;
  text-transform: uppercase;
}
.authx *{
  color: black!important;
}
.authx a{
  color: black!important;
}
.authx button{
  color: black!important;
}
.signinout{
  display: block;
color: black!important;
}
.start, .signin-main{
  padding-top: 7%;
  background: #dc143c !important;
  color: black!important;
  height: 100vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.start-card{
  display: block;
  position: absolute;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%;
  color: black!important;
  
}
.start button{
  background: white!important;
  color: black;
  font-size: 20px;
  border: 0px solid white!important;
  background-color: transparent;
  width: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 10px;
  padding: 5px;
}
.start img, .signin-card img{
  display: block;
  max-width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.start p, .signin-main p{
  text-align: center;
  display: block;
  height: auto;
  margin-left: auto!important;
  margin-right: auto!important;
  color: white;
}
.signin-main form{
  display: block;
  text-align: center;
  margin-left: auto!important;
  margin-right: auto!important;
}
.signin-card{
  background-color: white;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 20px;
  max-width: 500px;
  height: auto;
  margin-left: auto!important;
  margin-right: auto!important;
  padding: 20px;
  padding-bottom: 60px;
}
.signin-card input{
display: block!important;
margin-left: auto!important;
  margin-right: auto!important;
  background: white;
  border: 1px solid #EEEEEE;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
.signin-card button{
  border: 2px solid #dc143c!important;
  width: 300px!important;
  text-transform: uppercase;
  color: white;
  background: #dc143c!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 20px;
  padding: 5px;
}
.signin-card input::placeholder {
  text-align: center!important; 
}
.signin-card p{
  color: #757575;
}
.signin-card input{
  color: #616161;
}
.signoutbtn{
  position: absolute;

  bottom: 20px!important;
  left : 10px!important;
  width: 100px!important;
  
}
.signoutbtn img{
  width: 70px;
  height: auto;
}
.grid-item-recipient{
  padding: 20px;
}
.grid-item-cart{
  padding: 20px;
  margin-right: 0px!important;
}
.odjava{
  color: #c3c3c3;
  margin-top:0px;
}
#postime *{
  position: relative;
  color: black;
  text-align: left!important;
}
canvas{
  text-align: center;
}
.billheading p{
  margin: 0px!important;
  padding: 0px;
  font-family: 'Ubuntu Mono', monospace!important;
}

